<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Dashboard | Uber </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Team Aqua - Uber policymaker dashboard" name="description" />
    <meta content="Team Aqua" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/ubericon.ico">

    <!-- App css -->
    <link href="assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/app-dark.min.css" rel="stylesheet" type="text/css"  id="app-stylesheet" />

</head>

<body>

<!-- Navigation Bar-->
<header id="topnav">



    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="dropdown notification-list">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle nav-link">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </li>

                <li class="dropdown notification-list dropdown d-none d-lg-inline-block ml-2">
                    <a class="nav-link dropdown-toggle mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="assets/images/flags/us.jpg" alt="lang-image" height="12">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="assets/images/flags/germany.jpg" alt="lang-image" class="mr-1" height="12"> <span
                                class="align-middle">German</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="assets/images/flags/italy.jpg" alt="lang-image" class="mr-1" height="12"> <span
                                class="align-middle">Italian</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="assets/images/flags/spain.jpg" alt="lang-image" class="mr-1" height="12"> <span
                                class="align-middle">Spanish</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <img src="assets/images/flags/russia.jpg" alt="lang-image" class="mr-1" height="12"> <span
                                class="align-middle">Russian</span>
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                        <span class="d-none d-sm-inline-block ml-1 font-weight-medium">Alex M.</span>
                        <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow text-white m-0">Welcome !</h6>
                        </div>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-account-outline"></i>
                            <span>Profile</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-settings-outline"></i>
                            <span>Settings</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-lock-outline"></i>
                            <span>Lock Screen</span>
                        </a>

                        <div class="dropdown-divider"></div>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout-variant"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
                        <i class="mdi mdi-settings-outline noti-icon"></i>
                    </a>
                </li>

            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="index.html" class="logo text-center logo">
                            <span class="logo-lg">
                                <img src="assets/images/image.png" alt="" height="22">
                                <!-- <span class="logo-lg-text-dark">Uplon</span> -->
                            </span>
                    <span class="logo-sm">
                                <!-- <span class="logo-lg-text-dark">U</span> -->
                                <img src="assets/images/image.png" alt="" height="24">
                            </span>
                </a>


            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">

            </ul>

        </div> <!-- end container-fluid-->
    </div>
    <!-- end Topbar -->

    <div class="topbar-menu">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="index.html">
                            <i class="mdi mdi-view-dashboard"></i>Dashboard
                        </a>
                    </li>



                    <li class="has-submenu">
                        <a href="#"> <i class="mdi mdi-black-mesa"></i>Traffic Stats<div class="arrow-down"></div></a>
                        <ul class="submenu">
                            <li><a href="adminui-grid.html">Grid</a></li>
                            <li><a href="adminui-range-sliders.html">Range sliders</a></li>
                            <li><a href="adminui-sweet-alert.html">Sweet Alerts</a></li>
                            <li><a href="adminui-ratings.html">Ratings</a></li>
                            <li><a href="adminui-treeview.html">Treeview</a></li>
                            <li><a href="adminui-tour.html">Tour</a></li>
                            <li><a href="adminui-calendar.html">Calendar</a></li>
                            <li class="has-submenu">
                                <a href="#">Widgets <div class="arrow-down"></div></a>
                                <ul class="submenu">
                                    <li>
                                        <a href="widgets-tiles.html">Tile Box</a>
                                    </li>
                                    <li>
                                        <a href="widgets-charts.html">Chart Widgets</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>



                </ul>
                <!-- End navigation menu -->

                <div class="clearfix"></div>
            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
    <!-- end navbar-custom -->

</header>
<!-- End Navigation Bar-->

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="wrapper">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Uber</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card-box tilebox-one">
                    <i class="icon-layers float-right m-0 h2 text-muted"></i>
                    <h6 class="text-muted text-uppercase mt-0">Participate</h6>
                    <h3 id="total_participate" class="my-3" ></h3>
                    <span class="badge badge-success mr-1"> +11% </span> <span class="text-muted">From previous period</span>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card-box tilebox-one">
                    <i class="icon-paypal float-right m-0 h2 text-muted"></i>
                    <h6 class="text-muted text-uppercase mt-0">Awards given</h6>
                    <h3 class="my-3">$<span id="total_awards"></span></h3>
                    <span class="badge badge-success mr-1"> +29% </span> <span class="text-muted">From previous period</span>
                </div>
            </div>

        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-lg-6 col-xl-4">
                <div class="card-box">
                    <h4 class="header-title question-title mb-3" >  Hate the current traffic condition in New York City<br/><br/><br/></h4>


                    <div class="text-center">
                        <ul class="list-inline chart-detail-list mb-0">
                            <li class="list-inline-item">
                                <h6 class="text-info"><i class="mdi mdi-circle-outline mr-1"></i>Fully Agree</h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-success"><i class="mdi mdi-triangle-outline mr-1"></i>Intermediate</h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-muted"><i class="mdi mdi-square-outline mr-1"></i>Fully Disagree</h6>
                            </li>
                        </ul>
                    </div>

                    <div id="morris-bar-stacked" class="morris-chart" style="height: 268px;"></div>

                </div>
            </div><!-- end col-->
            <div class="col-lg-6 col-xl-4">
                <div class="card-box">
                    <h4 class="header-title question-title mb-3">Willing to try a brand-new and revolutionary transportation which can mitigate the traffic condition and reduce the time spent on commute</h4>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list mb-0">
                            <li class="list-inline-item">
                                <h6 class="text-info"><i class="mdi mdi-circle-outline mr-1"></i>Fully Agree</h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-success"><i class="mdi mdi-triangle-outline mr-1"></i>Intermediate</h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-muted"><i class="mdi mdi-square-outline mr-1"></i>Fully Disagree</h6>
                            </li>
                        </ul>
                    </div>

                    <div id="morris-2" class="morris-chart" style="height: 268px;"></div>



                </div>
            </div><!-- end col-->
            <div class="col-lg-6 col-xl-4">
                <div class="card-box">
                    <h4 class="header-title question-title mb-3">Support the idea that top level of parking garages in cities offers a particularly compelling opportunity to repurpose otherwise unused real estate as a vertiport</h4>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list mb-0">
                            <li class="list-inline-item">
                                <h6 class="text-info"><i class="mdi mdi-circle-outline mr-1"></i>Fully Agree</h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-success"><i class="mdi mdi-triangle-outline mr-1"></i>Intermediate</h6>
                            </li>
                            <li class="list-inline-item">
                                <h6 class="text-muted"><i class="mdi mdi-square-outline mr-1"></i>Fully Disagree</h6>
                            </li>
                        </ul>
                    </div>

                    <div id="morris-donut-example" class="morris-chart" style="height: 268px;"></div>



                </div>
            </div><!-- end col-->
        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mb-3">Already Viewed by</h4>

                            <div class="inbox-widget slimscroll" style="max-height: 324px;">
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-1.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Chadengle</p>
                                        <p class="inbox-item-text">Nice to know</p>
                                        <p class="inbox-item-date">13:40 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Tomaslau</p>
                                        <p class="inbox-item-text text-truncate">Awesome</p>
                                        <p class="inbox-item-date">13:34 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-3.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Stillnotdavid</p>
                                        <p class="inbox-item-text">This website is awesome!</p>
                                        <p class="inbox-item-date">13:17 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-4.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Kurafire</p>
                                        <p class="inbox-item-text">Nice to meet you</p>
                                        <p class="inbox-item-date">12:20 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-5.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Shahedk</p>
                                        <p class="inbox-item-text">Hey!</p>
                                        <p class="inbox-item-date">10:15 AM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-6.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Adhamdannaway</p>
                                        <p class="inbox-item-text">This App is awesome!</p>
                                        <p class="inbox-item-date">9:56 AM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-8.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Arashasghari</p>
                                        <p class="inbox-item-text">Nice.</p>
                                        <p class="inbox-item-date">10:15 AM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-9.jpg" class="rounded-circle" alt=""></div>
                                        <p class="inbox-item-author">Joshaustin</p>
                                        <p class="inbox-item-text">Good</p>
                                        <p class="inbox-item-date">9:56 AM</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card-box">
                            <h4 class="header-title mb-3">Statistics</h4>

                            <p class="font-weight-semibold mb-3">Willing to try new transportation<span class="text-danger float-right"><b>88%</b></span></p>
                            <div class="progress" style="height: 10px;">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="78"></div>
                            </div>
                        </div>

                        <div class="card-box">
<!--                            <h4 class="header-title mb-3">Monthly Sales</h4>-->

                            <p class="font-weight-semibold mb-2">Hate traffic condition in NYC<span class="text-success float-right"><b>89%</b></span></p>
                            <div class="progress" style="height: 10px;">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 89%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="card-box">
<!--                            <h4 class="header-title mb-3">Daily Sales</h4>-->

                            <p class="font-weight-semibold mb-2">Want to know more about Uber Elevate <span class="text-warning float-right"><b>75%</b></span></p>
                            <div class="progress" style="height: 10px;">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div><!-- end col-->


        </div>
        <!-- end row -->
    </div> <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->



<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                2019-2020 &copy; Powered by <a href="">Team Aqua</a>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

<!-- Right Sidebar -->
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i class="mdi mdi-close"></i>
        </a>
        <h4 class="font-18 m-0 text-white">Theme Customizer</h4>
    </div>
    <div class="slimscroll-menu">

        <div class="p-4">
            <div class="alert alert-warning" role="alert">
                <strong>Customize </strong> the overall color scheme, layout, etc.
            </div>
            <div class="mb-2">
                <img src="assets/images/layouts/light.png" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input theme-choice" id="light-mode-switch" checked />
                <label class="custom-control-label" for="light-mode-switch">Light Mode</label>
            </div>

            <div class="mb-2">
                <img src="assets/images/layouts/dark.png" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-3">
                <input type="checkbox" class="custom-control-input theme-choice" id="dark-mode-switch" data-bsStyle="assets/css/bootstrap-dark.min.css"
                       data-appStyle="assets/css/app-dark.min.css" />
                <label class="custom-control-label" for="dark-mode-switch">Dark Mode</label>
            </div>

            <div class="mb-2">
                <img src="assets/images/layouts/rtl.png" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="custom-control custom-switch mb-5">
                <input type="checkbox" class="custom-control-input theme-choice" id="rtl-mode-switch" data-appStyle="assets/css/app-rtl.min.css" />
                <label class="custom-control-label" for="rtl-mode-switch">RTL Mode</label>
            </div>

            <a href="https://1.envato.market/XY7j5" class="btn btn-danger btn-block mt-3" target="_blank"><i class="mdi mdi-download mr-1"></i> Download Now</a>
        </div>
    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<!--<div class="rightbar-overlay"></div>-->

<!--<a href="javascript:void(0);" class="right-bar-toggle demos-show-btn">-->
<!--    <i class="mdi mdi-settings-outline mdi-spin"></i> &nbsp;Choose Demos-->
<!--</a>-->

<!-- Vendor js -->
<script src="assets/js/vendor.min.js"></script>

<!--Morris Chart-->
<script src="assets/libs/morris-js/morris.min.js"></script>
<script src="assets/libs/raphael/raphael.min.js"></script>

<!-- Firebase -->
<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
<script type="text/javascript">

    var dataset = {
        chart1 : [],
        chart2 : [],
        chart3 : [],
    }

    var firebaseConfig = {
        apiKey: "AIzaSyBGWrcRa_ATX5B6bYDKWvWCtzXZOjoHjY8",
        authDomain: "bigco-219cd.firebaseapp.com",
        databaseURL: "https://bigco-219cd.firebaseio.com",
        projectId: "bigco-219cd",
        storageBucket: "bigco-219cd.appspot.com",
        messagingSenderId: "676919982423",
        appId: "1:676919982423:web:ff20edcbfb351b08562612",
        measurementId: "G-408HKHNM53"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    var database = firebase.database();
    var ref = database.ref();

    ref.on('value', gotData, errData)

    var answers = new Array(3);
    for (var i = 0; i < answers.length; i++) {
        answers[i] = new Array(5);
    }
    function gotData(data){
        var survey = data.val();
        var keys = Object.keys(survey);

        for (var i=0; i<keys.length; i++){
            var k = keys[i];
            dataset["chart" + (i + 1)] = [
                {
                    label: "Fully Disagree",
                    value: survey[k].Fully_Disagree
                }, {
                    label: "2",
                    value: survey[k].Disagree
                }, {
                    label: "3",
                    value: survey[k].No_Opinion
                },{
                    label: "4",
                    value: survey[k].Agree
                },
                {
                    label: "Fully Agree",
                    value: survey[k].Fully_Agree
                }
            ]
            let sum = survey[k].Fully_Disagree +  survey[k].Disagree + survey[k].No_Opinion + survey[k].Agree + survey[k].Fully_Agree;
            if(i === 0){
                $('#total_participate').html(sum);
                $('#total_awards').html(sum * 0.75)
            }

        }
        // magic dont touch
        // the old dashboard js
        ! function(a) {
            "use strict";
            var e = function() {};
            e.prototype.createStackedChart = function(a, e, r, t, o, c) {
                Morris.Bar({
                    element: a,
                    data: e,
                    xkey: r,
                    ykeys: t,
                    stacked: !0,
                    labels: o,
                    hideHover: "auto",
                    barSizeRatio: .4,
                    resize: !0,
                    gridLineColor: "rgba(108, 120, 151, 0.1)",
                    barColors: c
                })
            }, e.prototype.createDonutChart = function(a, e, r) {
                Morris.Donut({
                    element: a,
                    data: e,
                    resize: !0,
                    colors: r
                })
            }, e.prototype.init = function() {
                this.createDonutChart("morris-2", dataset.chart1, ["#EBEFF2","#BCEBCB","#87D68D" ,"#1bb99a","#3db9dc" ])
                this.createDonutChart("morris-bar-stacked", dataset.chart2, ["#EBEFF2","#BCEBCB","#87D68D" ,"#1bb99a","#3db9dc" ])
                this.createDonutChart("morris-donut-example", dataset.chart3, ["#EBEFF2","#BCEBCB","#87D68D" ,"#1bb99a","#3db9dc" ])
            }, a.Dashboard = new e, a.Dashboard.Constructor = e
        }(window.jQuery),
            function(a) {
                "use strict";
                window.jQuery.Dashboard.init()
            }();

    }

    function errData(err){
        console.log('Error!');
        console.log(err);
    }
</script>

<!-- Dashboard init js-->
<!--<script src="assets/js/pages/dashboard.js"></script>-->

<!-- App js -->
<script src="assets/js/app.min.js"></script>

</body>
</html>
